<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<h2 class="text-danger">welcome to home page</h2>
<h2 class="text-info">welcome to home page</h2>
<h2 class="text-warning">welcome to home page</h2>
<h2 class="text-success">welcome to home page</h2>
<h2 class="text-primary">welcome to home page</h2>
<h1>{{info}}</h1>
<h1>{{info2}}</h1>
</body>
</html>