<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
	<style type="text/css">

	form
	{
        text-align: center;
    padding: 4px;
    background-color: cadetblue;
    margin-left: 230px;
    margin-right: 230px;
}
</style>
</head>
<body>
	<h2 style='background:green;color:white;margin-left:230px;margin-right:230px;text-align:center;'>login form</h2>
	<form>
<label>username</label>
<input type="text" name=""><br/><br/>
<label>password</label>
<input type="password" name=""><br/>
<button>login</button>
</form>
</body>
</html>