{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/sample.css'%}">
	<script type="text/javascript" src="{% static 'js/sample.js'%}"></script>
</head>
<body>
<div class="row">
	<div class="col-sm-2"></div>
    <div class="col-sm-6"></div>
    <div class="card">
    	<div class="card-header bg bg-success">registration</div>
    	<div class="card-body">
    		<form action="" method="POST">
    			{% csrf_token %}
    			<div class="form-group">
    				<label for="email">email address:</label>
    				<input type="email" name="a" class="form-control" placeholder="enter email address" id="email">
    			</div>
         <div class="form-group">
         	<label for="password">password:</label>
         	<input type="password" name="b" class="form-control" placeholder="enter password" id="pwd">
         </div>
         <div class="form-group">
         	<label for="age">age</label>
         	<input type="number" name="ag" class="form-control" placeholder="enter your age" id='age'>
         </div>
         <input type="submit" value="submit" class="btn btn-primary">
     </form>
 </div>

    <div class="card-footer">
 copy@righs is me meme
</div>
</div>
</div>
<div class="cl-sm-2"></div>
</body>
</html>